.a1{
    text-decoration: none;
    padding-left: 7%;
    
}
a:link{
    color:white;
}
a:visited{
    color:pink;
}
.navt{
    background-color: black;
}
#l1{
    
    float: left;
}
#l2{
    
    
    float:right;
    
}
#l3{
    width:38.7%;
   margin-top:0.5%;
    float: left;
    margin-left: 0.5%;
    margin-bottom: 7%;
}
@media only screen and (max-width:600px)
{
    .i1,.i2,#l3,#l1,#l2{
        width: 100%;
    }


}
@media only screen and (min-width:600px)
{
    .i1,.i2{
        width:100%;
    }
    #l3{
        width:37%;
    }
    #l1,#l2{
        width: 30%;
    }
}
